html {
    display: table;
    margin: auto;
    width: 50%;
    font-family: sans-serif;
    padding: 10px;
}

body {
    border-left-style: solid;
    border-right-style: solid;
    border-left-width: 2px;
    border-right-width: 2px;
    border-color: black;
    padding: 10px;
}

footer {
    align: center;
    text-align: center;
    background-color: #EEE;
}

footer p {
    padding: 5px
}

hr {
    border-color: black;
}

h1 {
    text-align: center;
}